/*
  Global configuration file for SASS/SCSS
*/

// Page Colours
$c-background1: #292C33;
$c-background2: #FDB927;

// Font Colors
$c-heading1: #FDB927;
$c-heading2: #292C33;
$c-text: #ecf3ff;
$c-link: #72767b;

// Fonts
$f-heading: "Source Sans", serif;
$f-primary: "Montserrat", sans-serif;
$f-semibold: "Source Sans Semibold", sans-serif;

// Index Page
$pad-index-section: 30px;
